/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */
html {
    font-size: 16px
}
body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}
main {
    overflow:auto;
    min-width:45rem;
    display: inline-grid;
}
section {
    float: left;
    min-width: 22.5rem;
    width:50%;
}
figure {
    width:60%;
    margin:0 10% 0 0;
    float:left;
}
figure img {
    width:100%;
    max-width:25rem;
}
figcaption {
    margin:.375rem 0;
}
nav {
    float:none;
    width:11.25rem;
}
footer {
    clear: both;
    margin-top:1.5rem;
}
section, aside, nav, footer {
  padding: .5rem;
}
@font-face {
    font-family:Joesfinslab;
    src: url(../blog/fonts/serif/josefinslab-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:robotoslab;
    src: url(../fonts/serif/robotoslab-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:rozhaone;
    src: url(../blog/fonts/serif/rozhaone-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:ultra;
    src: url(../blog/fonts/serif/ultra-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:lato;
    src: url(../blog/fonts/sans-serif/lato-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:montserrat;
    src: url(../blog/fonts/sans-serif/montserrat-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:opensans;
    src: url(../blog/fonts/sans-serif/opensans-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:roboto;
    src: url(../blog/fonts/sans-serif/roboto-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}
html {
    font-family: 'montserrat', Arial, sans-serif;
}
h1 {
    font-size: 3rem;
    margin: 0;
    text-shadow:.09375rem .09375rem .09375rem #000;
    text-align: center;
    padding-bottom:4rem;
    padding-top:.5rem;
    color:darkslategray;
}
.highlight {
text-transform: uppercase;
font-family: "ultra", serif;
background-color: maroon;
padding: 1rem;
box-shadow:0.625rem 0.625rem 0.625rem grey;
border-radius: 1.875rem 0.625rem;
border-color: black;
color: beige;
}
.rotate {
    transform: rotate(-2deg);
    
}
ul {
  list-style-type: none;
  margin: 0;
  border-top: .125rem solid black;
  border-bottom: .125rem solid black; 
}
li {
    display:inline;
    color:cornflowerblue;
    font-size:1.75rem;
}
li a {
    outline:none;
    color:cornflowerblue;
    text-decoration:none;
}
li a:visited {
    color:cornflowerblue;
}
    
